html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 9999999;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[placeholder="last name"] {
  border-radius: 0;
}

.btn-primary {
  margin-top: 7%;
}
input {
  padding: 1rem 0.75rem !important;
}

input:placeholder-shown {
  color: black;
  opacity: 1;
  font-size: 18px;
}

::placeholder {
  color: black;
  opacity: 1;
  font-size: 18px;
}
